.info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 600px;
    background-image: url("../images/Rectangle\ 41444.png")
}

.info-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
    justify-content: center;
}

.why-choose-us {
    color: #FFF;
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 288px;
}

.text-why-choose-us {
    color: #E8E8E8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.6px;
    max-width: 560px;
}

.explore-places {
    max-width: 228px;
    min-height: 63px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #5474FD;
    border: none;
    color: #FFF;
    font-family: Aleo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase
}

.img-column {
    display: flex;
    flex-direction: column;
}

.house {
    width: 350px;
    height: 220px;
    margin-top: 10%;
}

.cliff {
    width: 350px;
    height: 220px;
    margin-top: 10px;
}

.footer-two {
    width: 100%;
    min-height: 250px;
    background-color: #333;
}

.bow {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.shapes {
    display: flex;
    justify-content: space-around;
}

.txt-shapes {
    display: flex;
    justify-content: space-around;
    color: #E8E8E8;
    text-align: center;
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}