body {
  max-width: 2000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

h1 {
  color: rgb(255, 255, 255);
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 6.82px;
}

.first-section {
  margin: auto;
  width: 100%;
  min-height: 600px;
  background-image: url("../images/image 1.png");
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.style-button {
  background-color: #5474FD;
}

.footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 90px;
  background-color: #5474FD;
}

.footer-one-words {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 500px;
  background-image: url("../images/Rectangle 41444.png");
}

.info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why-choose-us {
  color: #FFF;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 288px;
}

.text-why-choose-us {
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.6px;
  width: 560px;
}

.explore-places {
  width: 228px;
  height: 63px;
  background-color: #5474FD;
  border: none;
  color: #FFF;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.img-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.house {
  width: 350px;
  height: 220px;
}

.cliff {
  width: 350px;
  height: 220px;
}

.footer-two {
  width: 100%;
  min-height: 250px;
  background-color: #333;
}

.bow {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.txt-shapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #E8E8E8;
  text-align: center;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.spain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 650px;
  background-image: url("../images/hotel.png");
}

.info-spain {
  max-width: 543px;
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-left: 20px;
}

.grand-spain-madrid {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  width: 241px;
}

.spain-style {
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.5px;
  width: 80px;
}

.txt-info-spain {
  width: 508px;
}

.book-now {
  width: 228px;
  height: 63px;
  background-color: #5474FD;
  border: none;
  color: #FFF;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-top: 5%;
}

.sunset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 1770px;
  height: 700px;
  background-image: url("../images/sunset.png");
}

.style-sunset {
  max-width: 543px;
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-left: 20px;
}

.man-on-cliff {
  width: 100%;
  min-height: 731px;
  background-image: url("../images/man-on-cliff.png");
}

.test {
  margin-top: 10%;
  min-height: 100px;
}

.tourist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.last-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 668px;
  min-height: 245px;
  background-color: #333;
  color: #E8E8E8;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 10px;
}

.txt-last-info {
  max-width: 581px;
  margin-left: 10%;
}

.sam-sumon {
  color: #FEFEFE;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 130% */
  text-transform: uppercase;
  width: 150px;
  margin-left: 10%;
}

.position-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adidas-man {
  margin: 10px;
}

.name-ending {
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

.txt-under-name {
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 1.6px;
}

.ending {
  width: 100%;
  height: 271px;
  background-color: #232323;
}

.social-media {
  text-align: center;
}

.facebook {
  max-width: 15px;
}

.twitter {
  max-width: 15px;
}

.linkedin {
  max-width: 15px;
}

.youtube {
  max-width: 15px;
}

.pinterest {
  max-width: 15px;
}