h1 {
  color: rgb(0, 0, 0);
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description {
  color: red;
}

.first-section {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  min-height: 600px;
  background-image: url("../images/image 1.png");
}